@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/* font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
/*  font-family: 'Metrophobic', sans-serif;*/ 
/*
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */
/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */
/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/*font-family: 'Open Sans Condensed', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Mulish', sans-serif;
}
body {
	/*	background:#585c6860; */ 
	font-size: 14px;
	line-height: 22px;
	color: #555555; 
}
.resume{
	width: 100%;
	height: 100%;
	display: flex;
	padding: 0;
	margin: 0 10px;
	margin-left:0;
	
	
	background-image: url("images/pattern.jpg");
	background-color: rgba(255,255,255,100);
	background-size: cover;
	background-blend-mode: multiply;
}
.resume .leftNavBar{
	width:50%;
	max-width: 500px;
	height: auto;	
	background: #D1CFC4;
	margin: 0;
	margin-right: 20px;

}
.resume .leftNavBar .profilePic{
	width: 100%;
	height: auto;
	padding: 20px 15px;	
	border-radius: 10% 10% 20% 10%;
}
.resume .leftNavBar .leftText{
	text-align: center;
	color: #47533D;
}
a .leftText{
	font-size: 16px;
}
.fullName{
	font-size: 25px;
	
}
.listItem{
	display: inline;
	margin: 0 10px 10px 10px;
}
.ListItemImg{
	filter: opacity(.7);
	width: 50px;
	transition: all .5s;
}
.ListItemImg:hover{
	transform: scale(1.2) rotateX(360deg);
}
.centerIcon { 
	display: flex;
	justify-content:center;
}
.socialMedia{
	display: flex;
	justify-content:center;
}
.saveButton{
	text-align: center;
	vertical-align: middle;
	padding: .67em ;
	cursor: pointer;
	
	margin: .5em auto 2em auto;
	color: white;
    font-size: 1.2em;
	/*	
    text-shadow: -2px 2px #2797cf;
	*/
	border: 2px solid #2797CF;
	background-color: rgba(255,255,255, .1);
	border-radius: 1.5em;
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
	
	display: flex;
	justify-content:center;
	
}
.leftNavBar a{
	text-decoration: none;
}
.saveButton:hover{
	background-color: rgba(255,255,255, .3);

}
/* Right side */ 
.rightNavBar{
	margin: 50px 20px ;
}
.rightNavBar p{
	padding-left: 25px;	
}
.container {
	padding: 20px 0px;
}
.sectionTitle{
	font-size: 30px;
}
.aboutMe, .WorkSubSection, .languageSubSection{
	padding: 20px;
}
.jobName{
	font-size:17px;
}
.jobDate{
	font-size: 11px;
	padding:2px 7px;
	color: #67746d;
}
/* general */
.fullName, .sectionTitle{
	font-family: 'Metrophobic', sans-serif;
}
.textLink{
	text-decoration: none;
	font-weight: 400;
	color: #48513C;
	transition: all .5s;
}
.textLink:hover{
	color: #2797cf;
	font-size: 1.05rem;
	/* font-weight: 700; */
}
.skill{
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
}
.languages, .sectionTitleLeft{
	width: 100%;
	display: flex;
	justify-content: center;
}
.sectionTitleLeft{
	text-align: center;
	line-height: 1.2em;
}
.languageName{
	width: 50%;
	text-align: center; 
	padding: 0 0 25px;
}
.lang{
	font-size: 17px;
	font-weight: bold;
	padding: .67em 0;
}
.languages .lang{	
	color: #2797cf;
}
.langState{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0 !important;
	padding: 0;
	width: 50%;
	text-align: left; 
	font-size: .8em;
}
.langState .bold{	
}
.jobNameLeft{
	text-align: center;
	padding: 1.5em 0 0 0;
	font-size: 15px;
}
.leftNav{
	text-align: center;
}
.anotherOne{
	display: flex;
	justify-content: center;
}
.arabic{
	text-align: center;
}


/*  trying out the percentages  */

.skillList{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.skillName{
	font-size: 18px;
	margin: .7em 0px .2em;
	font-weight: bold;
}

 .skillPer {
	 width: 75%;
	 height: 13px;
	 background-color: #47533D;
	 border-radius: 5%;

	 color: white;
	 margin: 0;

 }
	.skillProgress{
		background-color: #2797CF;
		height: 100%;
		text-indent: 5%;
		border-radius: 5%;
	}
	.germanProg{		
		width: 30%;
	}
	.frenchProg{
		width: 60%;
	}
	.englishProg{
		width: 85%;
	}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #c3b9a2 #000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c3b9a2;
    border-radius: 20px;
    border: 3px solid #ffffff;
  }